<!---<h2>Token</h2>--->
<div class="section">
  <h2 id="statistics">Statistics</h2>
  {% if error == '' %} {% for item in stats %}
  <h3>
    {{ item.Name }} {% if item.Name == 'This Month' %}[<a href="/page/export?format=json">export</a>]{%
    endif %}
  </h3>
  <div class="stat">
    <div class="stat-item">
      <div class="stat-title">All</div>
      <div class="stat-data">{{ item.All }}</div>
    </div>
    <div class="stat-item">
      <div class="stat-title">Read</div>
      <div class="stat-data">{{ item.Read }}</div>
    </div>
    <div class="stat-item">
      <div class="stat-title">Skim</div>
      <div class="stat-data">{{ item.Skim }}</div>
    </div>
    <div class="stat-item">
      <div class="stat-title">Skip</div>
      <div class="stat-data">{{ item.Skip }}</div>
    </div>
  </div>
  {% endfor %} {% else %} {{ errMsg }} {% endif %}
</div>
<div class="section">
  <h2 id="status">Status</h2>
  <ul>
    <li>Instance: {{ instance }}</li>
    <li>Timezone: {{ timezone }}</li>
    <li>Database: {{ database }}</li>
    <li>Username: {{ username }}</li>
    <li>Access Token: {{ token }}</li>
  </ul>
</div>
