<!---<h2>Token</h2>--->
<div class="section">
  <h2 id="statistics">Statistics</h2>
  {% if error == '' %} {% for item in stats %}
  <h3>{{ item.Name }}</h3>
  <div class="stat">
    <div class="stat-item">
      <div class="stat-title">All</div>
      <div class="stat-data">{{ item.All }}</div>
    </div>
    <div class="stat-item">
      <div class="stat-title">Read</div>
      <div class="stat-data">{{ item.Read }}</div>
    </div>
    <div class="stat-item">
      <div class="stat-title">Skim</div>
      <div class="stat-data">{{ item.Skim }}</div>
    </div>
    <div class="stat-item">
      <div class="stat-title">Skip</div>
      <div class="stat-data">{{ item.Skip }}</div>
    </div>
  </div>
  <p>
    {% if item.Name == 'This Month' %} Export data as
    <a href="/page/export?format=json">JSON</a> or
    <a href="/page/export?format=yaml">YAML</a> format. {% endif %}
  </p>
  {% endfor %} {% else %} {{ errMsg }} {% endif %}
</div>
<div class="section">
  <h2 id="userinfo">User Info</h2>
  <ul>
    <li>Name: {{ username }} (<a href="#" onclick="logout()">logout</a>)</li>
    <li>Access Token: {{ token }}</li>
  </ul>
</div>
<div class="section">
  <h2 id="status">Server Status</h2>
  <ul>
    <li>Instance: {{ instance }}</li>
    <li>Timezone: {{ timezone }}</li>
    <li>Database: {{ database }}</li>
  </ul>
</div>

<script>
function logout() {
  Cookies.remove('auth-session')
  window.location.href = '/logout';
}
</script>
