<div class="section">
  {% for a in articles %}
  <div class="article-item">
    <div class="article-header" title="#{{ a.ID }}">
      <span class="article-badge article-badge-{{ a.ReadType }}">{{ a.ReadType }}</span>
      <span class="article-time">{{ a.ReadAtText }}</span>
    </div>
    <div class="article-title">
      <a title="{{ a.Title }}" href="{{ a.URL }}" target="_blank"
        >{{ a.Title }}</a
      >
    </div>
    <div class="article-info">
      <div class="article-tags">
        {% unless a.Device == "" %}
        <span class="article-tag">Device: {{ a.Device }}</span>
        {% endunless %} {% unless a.Domain == "" %}
        <span class="article-tag">Host: {{ a.Domain }}</span>
        {% endunless %} {% unless a.Author == "" %}
        <span class="article-tag">Author: {{ a.Author }}</span>
        {% endunless %}
      </div>
    </div>
    {% unless a.Description == "" %}
    <div class="article-description" title="{{ a.Description }}">
      {{ a.DescriptionText }}
    </div>
    {% endunless %}
  </div>
  {% endfor %}
</div>
